{% extends "core/base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-secondary" style="border-bottom: 2px solid yellow;">Edit Article</h2>
  
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.headline.id_for_label }}" class="form-label text-secondary">Headline</label>
            <input type="text" class="form-control rounded-pill" id="{{ form.headline.id_for_label }}" name="{{ form.headline.name }}" value="{{ form.headline.value }}">
        </div>
        
        <div class="mb-3">
            <label for="{{ form.body.id_for_label }}" class="form-label text-secondary">Body</label>
            <textarea class="form-control rounded" id="{{ form.body.id_for_label }}" name="{{ form.body.name }}" rows="6">{{ form.body.value }}</textarea>
        </div>
        
        <div class="mb-3">
            <label for="{{ form.category.id_for_label }}" class="form-label text-secondary">Category</label>
            {{ form.category }}
        </div>
        
        <div class="mb-3">
            <label for="{{ form.image.id_for_label }}" class="form-label text-secondary">Image</label>
            {{ form.image }}
        </div>
        
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-warning rounded">Save Changes</button>
        </div>
    </form>
    
    <a href="{% url 'editor_dashboard' %}" class="btn btn-warning rounded mb-5">Back to Dashboard</a>
</div>
{% endblock content %}
