{% extends "core/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">{{ article.headline }}</h1>
            <p class="card-text">{{ article.body }}</p>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h2>Related Articles in {{ category.name }}</h2>
    <div class="row">
        {% if related_articles %}
            {% for related_article in related_articles %}
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">{{ related_article.headline }}</h3>
                            <a href="{% url 'article_detail' related_article.id %}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No related articles available.</p>
        {% endif %}
    </div>
</div>

<div class="container mt-5">
    <h2>Ratings and Comments</h2>
    <p>Average Rating: {{ article.ratings }}</p>

    {% if user.is_authenticated %}
    <form method="post" class="mt-3">
        {% csrf_token %}
        
        {{ form.errors }}
        
        <div class="form-group">
            {{ rating_form.rating.label_tag }}
            {{ rating_form.rating }}
            {{ rating_form.rating.errors }}
        </div>
    
        <div class="form-group">
            {{ rating_form.comment.label_tag }}
            {{ rating_form.comment }}
            {{ rating_form.comment.errors }}
        </div>
    
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% else %}
    <p>You must be <a href="{% url 'login' %}">logged in</a> to submit a rating or comment.</p>
    {% endif %}
</div>

<div class="container mt-5">
    <h2>Comments</h2>

    {% for comment in article.rating_comment_set.all %}
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title text-secondary">{{ comment.user.username }}</h5>
            <p class="card-text text-secondary">{{ comment.comment }}</p>
            <p class="card-text text-secondary">Rating: {{ comment.rating }}</p>
        </div>
    </div>
    {% endfor %}
</div>

</div>
{% endblock content %}
